<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gogojump-index</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1866405_6tob2dk1pee.css">
    <link rel="stylesheet" href="{% static 'css/gogojump/index.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/gogojump/seguridad.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1866405_bdlvav42omp.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% block head %}
    {% endblock %}
</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo-box">
            <a href="{% url 'gogojump:index' %}">
                <img src="{% static 'images/gogojump/logo1.png' %}" alt="">
            </a>
        </div>

        <ul class="nav">
            <li class="active"><a href="{% url 'gogojump:index' %}">INICIO</a></li>
            <li><a href="{% url 'gogojump:actividades' %}">ACTIVIDADES</a></li>
            <li><a href="{% url 'gogojump:grupos' %}">GRUPOS</a></li>
            <li><a href="{% url 'gogojump:tarifas' %}">TARIFAS</a></li>
            <li><a href="{% url 'gogojump:seguridad' %}">SEGURIDAD</a></li>
            <li><a href="{% url 'gogojump:contacto' %}">CONTACTO</a></li>
        </ul>
        <div class="ticket" id="parallelogram">
            <a href="{% url 'gogojump:entradas' %}">ENTRADA</a>
        </div>


    </div>
</header>
<div class="main">
    <div class="wrapper">
        <div class="main-content-wrapper">
            <div class="banner-wrapper">
                <div class="banner-item">
                    <h1>FREE JUMP</h1>
                </div>
            </div>
            <div class="seguridad-wrapper">
                <div class="seguridad-content">
                    <h2>FREE JUMP</h2>
                    <br>
                    <p>GOGO JUMP SL., cumple con las normas de seguridad estipuladas, reflejando en cada instalación la normativa de uso de la misma, además cada zona dispone de un monitor especializado para asegurar el correcto uso de la misma. También dispone de un moderno y actual sistema de cámaras de seguridad para el correcto desarrollo de nuestras actividades.</p>
                    <p>Nuestros visitantes deberán ser conscientes del riesgo y lesiones que pueden suponer el no cumplimiento de las normas establecidas y mal uso de nuestras instalaciones.</p>
                    <p>Considerando el riesgo natural y propio que implica la práctica del salto en cama elástica, GOGO JUMP SL., se ve en la necesidad de advertir a los visitantes sobre ellos, para lo cual dicta el presente reglamento de uso de sus instalaciones, al cual esta sujeto toda persona, sin excepción alguna que haga uso de las mismas y por el solo hecho de ingresar a ellas.</p>
                    <br>
                    <h4>Reglas de la actividad</h4>
                    <p>- Una persona por trampolín.</p>
                    <p>- Saltar en el centro del trampolín.</p>
                    <p>- No sentarse ni tumbarse sobre el trampolín.</p>
                    <p>- Prohibido saltar sobre los bordes acolchados de seguridad.</p>
                    <p>- Prohibido perseguir, empujar, pelear o cualquier otro acto irracional.</p>
                    <p>- Prohibido la realización de trucos/saltos difíciles más allá de tus capacidades.</p>
                    <p>- Prohibido saltar de una plataforma alta a un trampolín.</p>
                    <p>- Prohibido caer con la cabeza, el cuello o amortiguar la caída con las manos.</p>
                </div>

            </div>


        </div>
    </div>
</div>
<footer class="footer">
    <div class="top-group">
        <div class="top-inner-group">
            <div class="logo-group footer-group">
                <div class="logo-box">
                    <a href="{% url 'gogojump:index' %}">
                        <img src="{% static 'images/gogojump/logo.png' %}" alt="">
                    </a>
                </div>
                <div class="contacto-footer">
                    <div class="contact-dir">
                        <i class="icon-dir iconfont icon-map"></i>
                        <span>Carrer Toll-l'Alberca Calle E, 12, 46900 Torrent, Valencia</span>
                    </div>
                    <div class="contact-tel">
                        <i class="icon-tel iconfont icon-phone"></i>
                        <span>+34961582161</span>
                    </div>
                    <div class="contact-email iconfont icon-email">
                        <i class="icon-dir"></i>
                        <span>contact@gogojump.es</span>
                    </div>


                </div>
            </div>
            <div class="menu-group footer-group">
                <div class="title">
                    <h5>MENÚ WEB</h5>
                </div>
                <div class="menu-desc">
                    <ul class="desc-list">
                        <li>
                            <a href="{% url 'gogojump:index' %}"><span>Inicio</span></a>
                        </li>
                        <li>
                            <a href="{% url 'gogojump:actividades' %}"><span>Actividades</span></a>
                        </li>
                        <li>
                            <a href="{% url 'gogojump:tarifas' %}"><span>Tarifas</span></a>
                        </li>
                        <li>
                            <a href="{% url 'gogojump:grupos' %}"><span>Eventos</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="aviso-group footer-group">
                <div class="title">
                    <h5>AVISO</h5>
                </div>
                <div class="menu-desc">
                    <ul class="desc-list">
                        <li>
                            <a href="{% url 'gogojump:seguridad' %}"><span>Medidas de seguridad</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Política de Privacidad</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Aviso legal</span></a>
                        </li>
                        <li>
                            <a href="{% url 'gogojump:job_together' %}"><span>Trabajar con nosotros</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="social-group footer-group">
                <div class="title">
                    <h5>REDES SOCIAL</h5>
                </div>
                <div class="redes-social">
                    <li>
                        <a href="#">
                            <i class="instagram iconfont icon-instagram"></i>
                            <span>@gogojump</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="facebook iconfont icon-facebook"></i>
                            <span>gogojump</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="YouTube iconfont icon-youtube"></i>
                            <span>gogojump</span>
                        </a>
                    </li>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-group">
        ©2020 GoGoJump Trampoline Parks | CopyRight 2020 - Diseñado por <a href="www.welinto.com">Welinto</a>
    </div>
</footer>
</body>
</html>