<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gogojump-index</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1866405_6tob2dk1pee.css">
    <link rel="stylesheet" href="{% static 'css/gogojump/contacto.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/gogojump/index.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1866405_bdlvav42omp.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% block head %}
    {% endblock %}
</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo-box">
            <a href="{% url 'gogojump:index' %}">
                <img src="{% static 'images/gogojump/logo1.png' %}" alt="">
            </a>
        </div>

        <ul class="nav">
            <li class="active"><a href="{% url 'gogojump:index' %}">INICIO</a></li>
            <li><a href="{% url 'gogojump:actividades' %}">ACTIVIDADES</a></li>
            <li><a href="{% url 'gogojump:grupos' %}">GRUPOS</a></li>
            <li><a href="{% url 'gogojump:tarifas' %}">TARIFAS</a></li>
            <li><a href="{% url 'gogojump:seguridad' %}">SEGURIDAD</a></li>
            <li><a href="{% url 'gogojump:contacto' %}">CONTACTO</a></li>
        </ul>
        <div class="ticket" id="parallelogram">
            <a href="{% url 'gogojump:entradas' %}">ENTRADA</a>
        </div>


    </div>
</header>
<div class="main">
    <div class="wrapper">
        <div class="main-content-wrapper">
            <div class="banner-wrapper">
                <div class="banner-item">
                    <h1>Información y Contacto</h1>
                </div>
            </div>
            <div class="info-wrapper">
                <div class="contacto-text-content">
                    <div class="contacto-text-title">
                        <h1>¿Quieres Contactar con GoGo Jump?</h1>
                    </div>
                    <div class="contacto-text-desc">
                        <p>Ante todo te damos la bienvenida a nuestra web StreetJump.es. ¿Tienes alguna duda o consulta que quieras hacernos?</p>
                        <br>
                        <p>Ponte en contacto con nosotros para cualquier duda, preguntas o para solicitar
                            información sobre las reservas para eventos y cumpleaños en las distintas zonas
                            de Street Jump Elche.Puedes hacerlo por Teléfono, o mediante esta sección en donde puedes realizarnos tus preguntas mediante este email o dejarnos la consulta junto con tu información de contacto para poder contestarte.</p>
                        <p>Rellena este formulario completando todos los datos y el asunto que quieres tratar y nosotros nos pondremos en contacto contigo a la mayor brevedad posible.</p>
                    </div>
                </div>
            </div>
            <div class="contacto-wrapper">
                <div class="contacto-content">
                    <div class="contacto-title">
                        <h2>CONTACTA CON NOSOTROS</h2>
                    </div>
                    <div class="contacto">
                        <form action="#" method="post" class="contacto-form">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Nombre</label>
                                    <input type="text" class="form-control" id="inputEmail4" placeholder="Nombre"
                                           required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Apellidos</label>
                                    <input type="text" class="form-control" id="inputPassword4"
                                           placeholder="Apellidos" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom03">Email</label>
                                    <input type="email" class="form-control" id="validationCustom03"
                                           placeholder="Email" required>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationCustom04">Teléfono</label>
                                    <input type="number" class="form-control" id="validationCustom04"
                                           placeholder="Teléfono" required>
                                    <div class="invalid-feedback">
                                        Por favor, introduce un Teléfono valido !
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationCustom05">Población</label>
                                    <input type="text" class="form-control" id="validationCustom05"
                                           placeholder="Población" required>
                                    <div class="invalid-feedback">
                                        Por favor, introduce una Población valida !
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Mensaje</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                          placeholder="Mensaje"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Acepto la política de privacidad
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">ENVIAR</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<footer class="footer">
    <div class="top-group">
        <div class="top-inner-group">
            <div class="logo-group footer-group">
                <div class="logo-box">
                    <a href="{% url 'gogojump:index' %}">
                        <img src="{% static 'images/gogojump/logo.png' %}" alt="">
                    </a>
                </div>
                <div class="contacto-footer">
                    <div class="contact-dir">
                        <i class="icon-dir iconfont icon-map"></i>
                        <span>Carrer Toll-l'Alberca Calle E, 12, 46900 Torrent, Valencia</span>
                    </div>
                    <div class="contact-tel">
                        <i class="icon-tel iconfont icon-phone"></i>
                        <span>+34961582161</span>
                    </div>
                    <div class="contact-email iconfont icon-email">
                        <i class="icon-dir"></i>
                        <span>contact@gogojump.es</span>
                    </div>


                </div>
            </div>
            <div class="menu-group footer-group">
                <div class="title">
                    <h5>MENÚ WEB</h5>
                </div>
                <div class="menu-desc">
                    <ul class="desc-list">
                        <li>
                            <a href="{% url 'gogojump:index' %}"><span>Inicio</span></a>
                        </li>
                        <li>
                            <a href="{% url 'gogojump:actividades' %}"><span>Actividades</span></a>
                        </li>
                        <li>
                            <a href="{% url 'gogojump:tarifas' %}"><span>Tarifas</span></a>
                        </li>
                        <li>
                            <a href="{% url 'gogojump:grupos' %}"><span>Eventos</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="aviso-group footer-group">
                <div class="title">
                    <h5>AVISO</h5>
                </div>
                <div class="menu-desc">
                    <ul class="desc-list">
                        <li>
                            <a href="{% url 'gogojump:seguridad' %}"><span>Medidas de seguridad</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Política de Privacidad</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Aviso legal</span></a>
                        </li>
                        <li>
                            <a href="{% url 'gogojump:job_together' %}"><span>Trabajar con nosotros</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="social-group footer-group">
                <div class="title">
                    <h5>REDES SOCIAL</h5>
                </div>
                <div class="redes-social">
                    <li>
                        <a href="#">
                            <i class="instagram iconfont icon-instagram"></i>
                            <span>@gogojump</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="facebook iconfont icon-facebook"></i>
                            <span>gogojump</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="YouTube iconfont icon-youtube"></i>
                            <span>gogojump</span>
                        </a>
                    </li>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-group">
        ©2020 GoGoJump Trampoline Parks | CopyRight 2020 - Diseñado por <a href="www.welinto.com">Welinto</a>
    </div>
</footer>
</body>
</html>