<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gogojump-index</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1866405_6tob2dk1pee.css">
    <link rel="stylesheet" href="{% static 'css/gogojump/index.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/gogojump/seguridad.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1866405_bdlvav42omp.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% block head %}
    {% endblock %}
</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo-box">
            <a href="{% url 'gogojump:index' %}">
                <img src="{% static 'images/gogojump/logo1.png' %}" alt="">
            </a>
        </div>

        <ul class="nav">
            <li class="active"><a href="{% url 'gogojump:index' %}">INICIO</a></li>
            <li><a href="{% url 'gogojump:actividades' %}">ACTIVIDADES</a></li>
            <li><a href="{% url 'gogojump:grupos' %}">GRUPOS</a></li>
            <li><a href="{% url 'gogojump:tarifas' %}">TARIFAS</a></li>
            <li><a href="{% url 'gogojump:seguridad' %}">SEGURIDAD</a></li>
            <li><a href="{% url 'gogojump:contacto' %}">CONTACTO</a></li>
        </ul>
        <div class="ticket" id="parallelogram">
            <a href="{% url 'gogojump:entradas' %}">ENTRADA</a>
        </div>


    </div>
</header>
<div class="main">
    <div class="wrapper">
        <div class="main-content-wrapper">
            <div class="banner-wrapper">
                <div class="banner-item">
                    <h1>Seguridad y Normativas</h1>
                </div>
            </div>
            <div class="seguridad-wrapper">
                <div class="seguridad-content">
                    <h2>SEGURIDAD Y NORMATIVA DE USO DE LAS INSTALACIONES</h2>
                    <br>
                    <p>GOGO JUMP SL., cumple con las normas de seguridad estipuladas, reflejando en cada instalación la normativa de uso de la misma, además cada zona dispone de un monitor especializado para asegurar el correcto uso de la misma. También dispone de un moderno y actual sistema de cámaras de seguridad para el correcto desarrollo de nuestras actividades.</p>
                    <p>Nuestros visitantes deberán ser conscientes del riesgo y lesiones que pueden suponer el no cumplimiento de las normas establecidas y mal uso de nuestras instalaciones.</p>
                    <p>Considerando el riesgo natural y propio que implica la práctica del salto en cama elástica, GOGO JUMP SL., se ve en la necesidad de advertir a los visitantes sobre ellos, para lo cual dicta el presente reglamento de uso de sus instalaciones, al cual esta sujeto toda persona, sin excepción alguna que haga uso de las mismas y por el solo hecho de ingresar a ellas.</p>
                    <br>
                    <h4>1- OBLIGACIONES DEL USUARIO O CONSUMIDOR</h4>
                    <p>-Para acceder a las instalaciones de GOGO JUMP SL., es obligatorio firmar el documento de responsabilidad. Si eres menor de edad, deberá ser firmado obligatoriamente por la madre/ padre o tutor legal.</p>
                    <p>-Es imprescindible llevar el brazalete de GOGO JUMP SL. Facilitado en la taquilla para tener acceso a las instalaciones debiéndose mantener en buen estado durante toda la estancia.</p>
                    <p>-En GOGO JUMP SL., los participantes deben cumplir con las indicaciones señaladas de cada área, seguir las instrucciones del altavoz y del personal del recinto.</p>
                    <p>-Para disfrutar de nuestras instalaciones es obligatorio el uso de calcetines antideslizantes, estos calcetines son reutilizables pudiéndose adquirir, si lo desea, en GOGO JUMP SL., a un precio de 1.5€.</p>
                    <p>-Por la seguridad y para evitar pérdidas de objetos, siempre hay que vaciar los bolsillos antes de acceder evitándose usar vestuario o accesorios que pueda dañarle durante el juego. Se necesita que los/las participantes guarden sus objetos personales, incluyendo joyas (collares, pendientes, pulseras, etc.), dispositivos no autorizados (cámaras, teléfonos, etc.), cartera, gafas, horquillas y otros objetos punzantes en la taquilla antes de entrar en la zona de actividad. Está prohibido entrar en la zona de actividad con objetos frágiles, diferentes tipos de recipientes, botellas, palos de madera, objetos afilados y otros artículos similares, para evitar daños o lesionarse a sí mismo u otras personas.</p>
                    <p>-Por seguridad propia y la de los demás, si necesita descansar por favor diríjase al área de descanso, NO SE SIENTE NI RECUESTE sobre el trampolín ni sobre ninguna zona de juego, escaleras, etc..</p>
                    <p>-En las actividades que se desarrollan a gran altura, use casco de seguridad y siga las instrucciones del monitor.</p>
                    <p>-Controle su tiempo. Puede prolongar su sesión con 5 minutos de antelación en la zona de caja, el cual le cobrará el coste correspondiente. El tiempo expirado se cobrará como horas completas.</p>
                    <p>-Ingresar al GOGO JUMP SL., en el día y el horario contratado, no se aceptaran ticket fuera del horario contratado.</p>
                    <p>-Cae siempre sobre los dos pies.</p>
                    <p>-Es su responsabilidad parar y tomar descanso para evitar los sobresfuerzos.</p>
                    <p>-Cada usuario es responsable de los accidentes que pueda sufrir a consecuencia de la práctica de saltos, juegos y de aquellos daños que puedan ocasionar a terceros. La práctica del salto en nuestras instalaciones es siempre por cuenta y riesgo propio. En el caso de los menores de edad, el riesgo es asumido por su padre/madre o por el adulto que le acompañe que haya autorizado su a GOGO JUMP SL. El cuidado en el recinto de todos los menores de edad es siempre de responsabilidad de su padre/madre o del adulto con quien hayan accedido. GOGO JUMP SL. no ofrece ni presta el servicio de cuidado de personas, sean o no menores de edad.</p>
                    <p>-En caso de accidente, todos los costos de la atención médica, producto de un accidente, ambulancia, traslados y costos del tratamiento son de cargo del cliente.</p>
                    <br>
                    <h4>2- QUEDA EXPRESAMENTE PROHIBIDO AL CONSUMIDOR:</h4>
                    <p>-GOGO JUMP SL., tiene prohibido el acceso a menores que midan menos de 1.2 metros en el parque sin acompañante, deben acceder acompañados de un adulto responsable durante todo el periodo que se encuentre en el parque, quien también paga su entrada. Los participantes que accedan con niños/as deben vigilarlos para evitar posibles accidentes y asegurar el cumplimiento de las instrucciones de seguridad.</p>
                    <p>-Está prohibido fumar en GOGO JUMP SL.</p>
                    <p>-Está prohibido escupir y/o arrojar objetos en las instalaciones.</p>
                    <p>-Está estrictamente prohibido acceder con cuchillos, navajas, materiales inflamables, explosivos y corrosivos, objetos que pueden poner en peligro la seguridad pública así como obejtos y productos prohibidos por las leyes y reglamentos vigentes de aplicación a GOGO JUMP SL., avisando a las autoridades competentes.</p>
                    <p>-Según las normas de seguridad, en la misma superficie del trampolín solamente puede ser ocupado por una persona y siempre saltar en el centro, especialmente está prohibido que un adulto y un niño/a compartan la misma superficie, lo que puede causar posibles accidentes.</p>
                    <p>-Está prohibido saltar sobre un pie, lo que puede conducir a un desequilibrio del cuerpo y

provocar lesiones al caer, aterrizar con la cabeza o el cuello y amortiguar la caída con las manos, este acto puede provocar esguinces o fracturas. Si diera el caso de que pierda el equilibrio, por favor, proteger las muñecas, los tobillos y la cintura, en la medida de lo posible, intente caer de espaldas con los brazos cruzados o con los glúteos.</p>
                    <p>-Está prohibido el ingreso en el área de actividad con zapatos, calcetines normales o descalzos.</p>
                    <p>-Está estrictamente prohibido subir al tobogán en sentido contrario, cada vez deslizará solamente una persona, estando prohibido bajar dos o más personas al mismo tiempo debido a la probabilidad de chocarse y causar lesiones.</p>
                    <p>-Está prohibido saltar a las personas que estén o crean que puedan estar embarazadas, si se encuentra bajo la influencia del alcohol u otras sustancias, con enfermedades cardíacas, infeccionsas, asma o la presencia de cualquier otra patología en la que esté contraindicado la realización de nuestras actividades. Los accidentes causados por ocultar su enfermedad fisiológica será bajo su propio riesgo, GOGO JUMP SL., aparte de proporcionar ayuda en la medida de lo posible, no se responsabilizará de lo ocurrido.</p>
                    <p>-Está prohibido el ingreso de bebida y comida al área de actividad, masticar chicle, golosinas, frutos secos, etc.</p>
                    <p>-Prohibido saltar sobre los bordes acolchados de seguridad, dado que se puede atrapar la pierna entre los protectores y el trampolín.</p>
                    <p>-No se puede sacar los cubos de espuma de la piscina.</p>
                    <p>-Prohibido saltar de cabeza en piscina de espumas, o quedarse tumbado, escondido/enterrado dentro, también está prohibido saltar sobre otra persona. Asegúrate que no hay más personas en la piscina antes de saltar y evitar saltar dos o más personas al mismo tiempo.</p>
                    <p>-No se permiten mascotas.</p>
                    <p>-Está prohibido saltar sin polera</p>
                    <p>-Prohibido escalar o colgarse de las redes de protección y de las canastas o saltar sobre las mismas.</p>
                    <br>
                    <h4>3- AVISO IMPORTANTE:</h4>
                    <p>-En caso de incumplimiento de las normas establecidas, instrucciones de los monitores o la puesta en riesgo de uno mismo/a o alguno de nuestros participantes, GOGO JUMP SL., se reserva el derecho a expulsar del parque al participante que no cumpla con las mismas, sin derecho al reembolso del dinero. También se expulsará a los participantes que juegan agresivamente, corran, empujen, golpeen a las personas.</p>
                    <p>-Como en cualquier deporte extremo hay riesgo al saltar en los trampolines o en la piscina de espuma. Todos los participantes, los padres , madres y o tutores asumen su propio riesgo y de los niños/as, respondiendo por sus actos y promete seguir las reglas del parque para minimizar estos riesgos.</p>
                    <p>-En GOGO JUMP SL., no ofrece un servicio de cuidado infantil, por lo que no se responsabilizará de los menores que hayan sido dejados solos en nuestras instalaciones, sin la supervisión del adulto que acompañe al menor.</p>
                    <p>-No se hacen devoluciones de dinero.</p>
                    <p>-Solo se guarda en los casilleros los zapatos y pertenencias de quienes hayan pagado su entrada.</p>
                    <p>-GOGO JUMP SL., se reserva el derecho de admisión a nuestras instalaciones.</p>
                    <p>-Si se dañan las instalacxiones intencionadamente, GOGO JUMP SL., tendrá derecho a reclamarlo. Si el accidente es causado por el daño al equipo, la persona causante asume todas las responsabilidades.</p>
                    <p>-El acceso y uso de móviles, cámaras o similares en el parque, está permitido bajo su responsabilidad. GOGO JUMP SL., no se hace responsable de pérdidas o desperfectos, ni robos.</p>
                    <br>
                    <h4>4- LAS RECOMENDACIONES:</h4>
                    <p>-Se recomienda no llevar objetos de valor como el móvil, la cartera, joyas, etc., en las zonas de actividad, en el caso de llevarlos no descuidar de sus pertenencias. La pérdida, robos y desperfectos de objetos por el uso o custodia inadecuada del cliente, GOGO JUMP SL., no se asume la responsabilidad de ello.</p>
                    <p>-Se recomienda realizar calentamiento antes de las actividades para evitar posibles contusiones, esguinces o lesiones. Para ello también se necesita que los participantes presten atención a la altura de seguridad durante el salto en el trampolín.</p>
                    <p>-Si no tiene experiencia ni es personal especializado, no intente realizar movimientos peligrosos, como por ejemplo: hacer volteretas dobles, saltos mortales, front plips, etc. en el trampolín. Cualquier acto o salto peligroso podría producir daños a sí mismo o a otros, en el caso de haberse hecho daño o hacerle daño a alguien será su responsabilidad. La práctica de movimientos difíciles y peligrosos que excedan de sus habilidades, pueden causar lesiones graves, parálisis o muerte.</p>
                    <p>-No sentarse o acostarse sobre las camas elásticas</p>
                </div>

            </div>


        </div>
    </div>
</div>
<footer class="footer">
    <div class="top-group">
        <div class="top-inner-group">
            <div class="logo-group footer-group">
                <div class="logo-box">
                    <a href="{% url 'gogojump:index' %}">
                        <img src="{% static 'images/gogojump/logo.png' %}" alt="">
                    </a>
                </div>
                <div class="contacto-footer">
                    <div class="contact-dir">
                        <i class="icon-dir iconfont icon-map"></i>
                        <span>Carrer Toll-l'Alberca Calle E, 12, 46900 Torrent, Valencia</span>
                    </div>
                    <div class="contact-tel">
                        <i class="icon-tel iconfont icon-phone"></i>
                        <span>+34961582161</span>
                    </div>
                    <div class="contact-email iconfont icon-email">
                        <i class="icon-dir"></i>
                        <span>contact@gogojump.es</span>
                    </div>


                </div>
            </div>
            <div class="menu-group footer-group">
                <div class="title">
                    <h5>MENÚ WEB</h5>
                </div>
                <div class="menu-desc">
                    <ul class="desc-list">
                        <li>
                            <a href="{% url 'gogojump:index' %}"><span>Inicio</span></a>
                        </li>
                        <li>
                            <a href="{% url 'gogojump:actividades' %}"><span>Actividades</span></a>
                        </li>
                        <li>
                            <a href="{% url 'gogojump:tarifas' %}"><span>Tarifas</span></a>
                        </li>
                        <li>
                            <a href="{% url 'gogojump:grupos' %}"><span>Eventos</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="aviso-group footer-group">
                <div class="title">
                    <h5>AVISO</h5>
                </div>
                <div class="menu-desc">
                    <ul class="desc-list">
                        <li>
                            <a href="{% url 'gogojump:seguridad' %}"><span>Medidas de seguridad</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Política de Privacidad</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Aviso legal</span></a>
                        </li>
                        <li>
                            <a href="{% url 'gogojump:job_together' %}"><span>Trabajar con nosotros</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="social-group footer-group">
                <div class="title">
                    <h5>REDES SOCIAL</h5>
                </div>
                <div class="redes-social">
                    <li>
                        <a href="#">
                            <i class="instagram iconfont icon-instagram"></i>
                            <span>@gogojump</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="facebook iconfont icon-facebook"></i>
                            <span>gogojump</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="YouTube iconfont icon-youtube"></i>
                            <span>gogojump</span>
                        </a>
                    </li>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-group">
        ©2020 GoGoJump Trampoline Parks | CopyRight 2020 - Diseñado por <a href="www.welinto.com">Welinto</a>
    </div>
</footer>
</body>
</html>